**/__pycache__/**
**/*.db
**/*.kv
**/*.env
**/*.json
**/task-manager-env
.buildozer/
bin/
data.json
.scannerwork
.scannerwork/**
**/*task_export.json/**
**/*task_export.json
*task_export.json
**/task_export.json
task_export.json
tasks_export.json
**/build
/build
**/build/**
**/init
/init
**/init/**
sonar-project.properties